*, *:before, *:after {
  box-sizing: border-box;
}
html {
  background-color: #fff;
}
body {
  margin: 0 auto;
  background-image: url("../images/pattern-background-desktop.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%); /* Primary - Pale Blue */
  width: 1440px;
  height: 900px;
}
header {
  margin: 0 auto;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner {
  width: 100%;
  height: 220px;
  margin-top: 102px;
  background-image: url("../images/illustration-hero.svg");
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}
main {
  width: 450px;
  height: 477px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
.order-summary {
  width: 354px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-summary h1 {
  margin-top: 50px;
  margin-bottom: 17px;
  height: 37px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 26px;
}
.order-summary p {
  margin-top: 0;
  margin-bottom: 22px;
  height: 78px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color:hsl(224, 23%, 55%); /* Neutral - Desaturated blue */
}
.order-details {
  width: 354px;
  margin: 0 auto;
  background-color: hsl(225, 100%, 98%); /* Neutral - Very pale blue */
  border-radius: 10px;
}
.order-details form {
  width: 306px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}
.order-details button {
  padding: 0;
  border: none;
  border-bottom: 2px solid hsl(245, 75%, 52%); /* Primary - Bright blue */
  background-color:  hsl(225, 100%, 98%); /* Neutral - Very pale blue */;
  color: hsl(245, 75%, 52%); /* Primary - Bright blue */
  font-weight: 700;
}
.subscription-container {
  display: flex;
  align-items: center;
  text-align: center;
}
.active-subscription { 
  margin-left: 20px;
}
.active-subscription h2 {
  margin: 0 0 5px 0;
  font-size: 16px;
}
.active-subscription p {
  margin: 0;
  color:hsl(224, 23%, 55%); /* Neutral - Desaturated blue */
  font-weight: 400;
}
.attribution {
  width: 354px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.attribution button:first-child {
  margin: 32px 0;
  padding: 13px 0;
  border: none;
  background-color: hsl(245, 75%, 52%); /* Primary - Bright blue */
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px hsl(224, 23%, 55%);  /* Neutral - Desaturated blue */
}
.attribution button:last-child {
  width: 97px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: #fff;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(224, 23%, 55%); /* Neutral - Desaturated blue */
}