*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-image: url("../images/pattern-background-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 1440px;
}
header {
  margin: 102px auto;
  width: 450px;
  background-image: url("../images/illustration-hero.svg");
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}